<div class="chat-box">
    <div class="chat-messages">
      <div *ngFor="let msg of messages">
        <!-- Message reçu -->
        <div *ngIf="msg.from !== currentUser" class="message left">
          <img [src]="getUserAvatar(msg.from)" alt="Avatar" class="avatar" />
          <div class="bubble">
            <p class="text">{{ msg.text }}</p>
            <span class="timestamp">{{ msg.timestamp | date: 'shortTime' }}</span>
          </div>
        </div>
  
        <!-- Message envoyé -->
        <div *ngIf="msg.from === currentUser" class="message right">
          <div class="bubble bubble-right">
            <p class="text">{{ msg.text }}</p>
            <span class="timestamp">{{ msg.timestamp | date: 'shortTime' }}</span>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Zone de saisie -->
    <div class="footer-chat">
      <i class="icon fa fa-smile-o clickable"></i>
      <input
        type="text"
        class="write-message"
        placeholder="Tape ton message ici"
        [(ngModel)]="newMessage"
      />
      <i class="icon send fa fa-paper-plane-o clickable" (click)="sendMessage()"></i>
    </div>
  </div>
  